#Created by Constraints Editor (xc6slx25-ftg256-3) - 2015/01/02
NET "I_clk" PERIOD = 20 ns | LOC = "K3" ;

NET "O_LEDS<0>" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "O_LEDS<1>" LOC="N9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "O_LEDS<2>" LOC="M9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "O_LEDS<3>" LOC="P9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "O_LEDS<4>" LOC="T8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "O_LEDS<5>" LOC="N8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "O_LEDS<6>" LOC="P8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "O_LEDS<7>" LOC="P7"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;

NET "I_SWITCHES<0>"   LOC="L1" | IOSTANDARD=LVTTL | PULLUP;
NET "I_SWITCHES<1>"   LOC="L3" | IOSTANDARD=LVTTL | PULLUP;
NET "I_SWITCHES<2>"   LOC="L4" | IOSTANDARD=LVTTL | PULLUP;
NET "I_SWITCHES<3>"   LOC="L5" | IOSTANDARD=LVTTL | PULLUP;

NET "I_rx" LOC = M7 | IOSTANDARD = LVTTL; #FTDI M7
NET "O_tx" LOC = N6 | IOSTANDARD = LVTTL; #FTDI N6

NET "hdmi_out_p<0>" LOC="C13" | IOSTANDARD="TMDS_33"; # IO_L63P_SCP7_0
NET "hdmi_out_n<0>" LOC="A13" | IOSTANDARD="TMDS_33"; # IO_L63N_SCP6_0
NET "hdmi_out_p<1>" LOC="B12" | IOSTANDARD="TMDS_33"; # IO_L62P_0
NET "hdmi_out_n<1>" LOC="A12" | IOSTANDARD="TMDS_33"; # IO_L62N_VREF_0
NET "hdmi_out_p<2>" LOC="C11" | IOSTANDARD="TMDS_33"; # IO_L39P_0
NET "hdmi_out_n<2>" LOC="A11" | IOSTANDARD="TMDS_33"; # IO_L39N_0
NET "hdmi_out_p<3>" LOC="B14" | IOSTANDARD="TMDS_33"; # IO_L65P_SCP3_0
NET "hdmi_out_n<3>" LOC="A14" | IOSTANDARD="TMDS_33"; # IO_L65N_SCP2_0


# Audio Pins
NET "O_AUDIO1" LOC="B8" | IOSTANDARD=LVTTL;
NET "O_AUDIO2" LOC="A8" | IOSTANDARD=LVTTL;